{% extends 'form_base.html.twig' %}

{% block form %}

{# Get the current route #}
    {% set route = app.request.attributes.get('_route')%}

{# Display the main form (but not if we are on delete route) #}
    {% if(route != 'grade_delete')%}

    <div class="row mb-4 mx-auto mt-4 col-8">
        <a class="return-back" href="{{ user.roles[0] == 'ROLE_TEACHER' ? 'http://localhost:8080/devoirsprof' : 'http://localhost:8080/devoirs' }}"><i class="fa fa-arrow-left pt-4" aria-hidden="true"></i></a>
        <h1 class="mx-auto title">{{ route == 'grade_add' ? 'Ajouter' : 'Modifier' }} une note</h1>
    </div>


    <div class="row">

        {{ form_start(form, {'attr': {'class': 'col-8 mx-auto'}}) }}

            <div class="form-group">
                {{ form_label(form.homework, "Devoir") }}
                {{ form_widget(form.homework, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.grade, "Note") }} <span>*</span>
                {{ form_widget(form.grade, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title, "Titre") }} <span>*</span>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.content, "Commentaire") }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn submit-btn mx-auto mt-5">{{ route == 'grade_add' ? 'Ajouter' : 'Modifier' }}</button>

        {{ form_end(form) }}

    </div>

    {% endif %}


{# Display the delete form (but only if we are on edit route) #}
    {% if(route == 'grade_edit')%}


    <div class="row delete-form col-5 mx-auto mt-5">

        <div class="col-9">
            <h2>Suppression d'un devoir</h2>
            <p>Attention, cette action est irréversible.</p>
        </div>

        {{ form_start(formDelete, {'attr': {'class': ''}})}}

            {{ form_widget(formDelete.deleteButton, {'attr': {'class': 'btn btn-danger d-block mt-2'}}) }}

        {{ form_end(formDelete) }}

    {% endif %}

    </div>

{% endblock %}
