{% extends 'form_base.html.twig' %}

{% block form %}

{# Get the current route #}
    {% set route = app.request.attributes.get('_route')%}


<div class="row mb-4 mx-auto mt-4 col-8">
    <a class="return-back" href="http://ec2-54-152-201-144.compute-1.amazonaws.com/cours"><i class="fa fa-arrow-left pt-4" aria-hidden="true"></i></a>
    <h1 class="mx-auto title">Ajouter une correction <br><span>xxx de xxx</span></h1>
</div>


<div class="row">

    {{ form_start(form, {'attr': {'class': 'col-6 mx-auto'}}) }}

        <div class="form-group">
            {{ form_label(form.correctionPath, "Fichier") }} <span>*</span>
            <br>
            <div class="row m-0 file-btn col-">
                {{ form_widget(form.correctionPath, {'attr': {'class': 'inputfile'}}) }}
                {{ form_label(form.correctionPath, "Choisir un fichier") }}
                <p class="file-name"></p>
            </div>
            
        </div>

        <button type="submit" class="btn submit-btn mx-auto mt-5">{{ route == 'homework_add' ? 'Ajouter' : 'Modifier' }}</button>

    {{ form_end(form) }}

</div>

{% endblock %}